<%= javascript_include_tag 'geofsh' %>

<%= form_for(@food_truck) do |f| %>
  <% if @food_truck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_truck.errors.count, "error") %> prohibited this food_truck from being saved:</h2>

      <ul>
      <% @food_truck.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_field :lat, id: "latitude" %>
  </div>
  <div class="field">
    <%= f.label :long %><br>
    <%= f.text_field :long, id: "longitude" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "button" %>
  </div>
<% end %>
